@import './quiz-card.css';

.session-quiz-pick__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 1118px;
}

.quiz__title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.quiz__descr {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
    max-width: 420px;
}

.quiz__done {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}


.quiz__interact-zone {
    width: 100%;
    display: flex;
    column-gap: 10px;
}

