

.right__form {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.form__input {
    background-color: #2B2B2B;
    border: 2px solid #4A4A4A;
    border-radius: 10px;
    height: 40px;
    color: #2FCC59;
    margin-bottom: 18px;
    padding-left: 10px;
    transition: all .2s ease;
}

.form__input:hover {
    background-color: #1f1f1f;
}

.form__input:focus {
    outline: none;
}

.form__input:active {
    background-color: #535353;
}

.input-number {
    width: 208px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.btn-wrap {
    display: flex;
}

.input-number-min,
.input-number-max {
    background-color: #2A2A2A;
    border: 2px solid #4A4A4A;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;

    background-size: 10px 10px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                margin 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input-number-min:hover,
.input-number-max:hover {
    background-color: #535353;
    transform: scale(1.1);
    
}

.left__descr {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.left__button {
    width: max-content;
    background-color: #313131;
    border-radius: 10px;
    border: none;
    padding: 22px 36px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    align-self: flex-end;
    padding-left: 70px;

    background-size: 24px 24px;
    background-position: 27px;
    background-repeat: no-repeat;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                margin 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.left__button:hover {
    background-color: #5a5a5a;
    transform: scale(1.1);
    margin: 10px 0
}

.share-btn {
    background-image: url('../assets/share-btn.svg');
    margin-bottom: 15px;
}

.more-btn {
    background-image: url('../assets/more-btn.svg');
}

.input-number-min {
    background-image: url('../assets/min.svg');
    margin-right: 5px;
}

.input-number-max {
    background-image: url('../assets/max.svg');
}

.form__submit-start {
    background-color: #2FCC59;
    border: none;
    border-radius: 10px;
    padding: 22px 120px;

    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

    background-size: 24px 24px;
    background-position: 98px;
    background-repeat: no-repeat;
    background-image: url('../assets/start.svg');
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                margin 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form__submit-start:hover {
    background-color: #38ee69;
    transform: scale(1.1);
    margin: 10px 5px 
}

.hint {
    border: 2px solid #792f2f;
}

.hint::placeholder {
    color: #792f2f;
}