
@import './start-form.css';

.start-page-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 890px;
}

.title-main {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    text-align: center;
    max-width: 750px;
    color: #FFFFFF;
}

.interact-zone {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

/* Левый контейнер */

.interact-zone__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc((100% / 2) - 20px);
}

/* Правый контейнер*/

.interact-zone__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc((100% / 2) - 20px);
}

.right__descr {
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 33px;
}